<%- include('top_page') %>
<h1>הוספת קטגוריה</h1>
<form action="" method="post">
    <label for="name">שם </label>
    <input type="text" name="name" id="name" value="<%= data.name %>" />
    <input type="hidden" name="user" id="user" value="<%= data.user %>" />
    <br>
    <button name="btn" value="1" class="add-button">הוסף קטגוריה</button>
</form>
<a href="/categories/List" class="back-button">⬅️ חזרה לרשימת הקטגוריות</a>
<%- include('bottom_page') %>