<!doctype html>
<html lang="he">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>
<body dir="rtl">
<header class="main-header">
    <nav class="main-nav">
        <ul>
            <li><a href="/users/Add">הרשמה</a></li>
        </ul>
    </nav>
</header>
<h1>התחברות</h1>
<form action="" method="post" class="login-form">
    <label for="uname">שם משתמש</label>
    <input type="text" name="uname" id="uname" required>
    <label for="passwd">סיסמה</label>
    <input type="password" name="passwd" id="passwd" required>
    <button type="submit">✔️ התחבר</button>
</form>
</body>
</html>