<%- include('top_page') %>
<h1>התחברות</h1>
<form action="" method="post" class="login-form">
    <label for="uname">שם משתמש</label>
    <input type="text" name="uname" id="uname" required>
    <label for="passwd">סיסמה</label>
    <input type="password" name="passwd" id="passwd" required>
    <button type="submit">✔️ התחבר</button>
</form>
<%- include('bottom_page') %>