<!doctype html>
<html lang="he">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>
<body dir="rtl">
<h2>מנהל המשימות</h2>
<nav class="main-nav">
    <ul>
        <li><a href="/tasks/List">משימות</a></li>
        <li><a href="/categories/List">קטגוריות</a></li>
        <li><a href="/users/List">משתמשים</a></li>
        <li><a href="/systemLog/logout">יציאה</a></li>
    </ul>
</nav>
<%- include('bottom_page') %>
</body>
</html>