<%- include('top_page') %>
<h1>הוספת משתמש</h1>
<form action="" method="post">
    <label for="name">שם </label>
    <input type="text" name="name" id="name" />
    <br>
    <label for="uname">שם משתמש </label>
    <input type="text" name="uname" id="uname" />
    <br>
    <label for="email">מייל </label>
    <input type="email" name="email" id="email" />
    <br>
    <label for="passwd">סיסמה </label>
    <input type="text" name="passwd" id="passwd" />
    <br>
    <button name="btn">הרשמה</button>
</form>
<%- include('bottom_page') %>