<!doctype html>
<html lang="he">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>
<body dir="rtl">
<header class="main-header">
    <nav class="main-nav">
        <ul>
            <li><a href="/users/login">התחברות</a></li>
        </ul>
    </nav>
</header>
<h1>הוספת משתמש</h1>
<form action="" method="post" class="register-form">
    <label for="name">שם</label>
    <input type="text" name="name" id="name" required>
    <label for="uname">שם משתמש</label>
    <input type="text" name="uname" id="uname" required>
    <label for="email">מייל</label>
    <input type="email" name="email" id="email" required>
    <label for="passwd">סיסמה</label>
    <input type="password" name="passwd" id="passwd" required>
    <button type="submit">✔️ הרשמה</button>
</form>
</body>
</html>